* {
    margin:0 ;
    padding:0;
}

body {
    font-size:20px;
    line-height: 120%;
    background-color:black;
    width: 90%;
}

.page-wrapper {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin:0 auto;
    grid-gap: 2em;

    
}

header {
    padding: 1em;
    background-image: url()
}

h1 {
    color:white;
}

h2, h3 {
    color: rgb(24, 155, 185)
}

p{
    color:white;
    background-color: rgb(8, 41, 57);
    padding: 0.5em;
}


h3 {
    color: white;
    background-color: rgb(32, 32, 32);
    padding:0.5em;
}

a {
    color: rgb(24, 155, 185);
    text-decoration: none;
}

a:visited {
    color: rgb(85, 75, 75);
}

a:focus, a:hover {
    color: rgb(134, 180, 192);
}

ul {
    list-style: none;
    background-color: rgb(8, 41, 57);
}

li{

}

#zen-supporting > div {
    margin: 1em 0 1em 0;
}

.design-selection, .design-archives, .summary, .preamble{
    margin: 1em 0 1em 0;
}

.intro {
    grid-column-start: 1;
    grid-column-end: 3;
}
#zen-supporting {
    grid-column-start: 1;
    grid-column-end: 3;
}

.sidebar {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}