* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
}
 .page-wrapper {
     display:grid;
     grid-template-columns: repeat(12, 1fr);
     margin: 0 auto;
     grid-row-gap: 1em;
     grid-column-gap:1em;
 }
 .intro {
     grid-column-start: 1;
     grid-column-end: 12;
 }
 #zen-supporting {
    grid-column-start: 1;
    grid-column-end: 7;
 }
 .sidebar {
    grid-column-start: 7;
    grid-column-end: 12;
 }