
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Sree+Krushnadevaraya&display=swap');

/*
font-family: 'Abril Fatface', cursive;
font-family: 'Sree Krushnadevaraya', serif;
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
}

h1, h2 ,h3 {
    font-family: 'Abril Fatface', cursive;
    
}

p {
    font-family: 'Sree Krushnadevaraya', serif;
}

 .page-wrapper {
     display:grid;
     grid-template-columns: repeat(12, 1fr);
     margin: 0 auto;
     grid-row-gap: 1em;
     grid-column-gap:1em;
 }

 .intro {
     grid-column-start: 1;
     grid-column-end: 12;
 }

 #zen-supporting {
    grid-column-start: 1;
    grid-column-end: 7;
 }

 .sidebar {
    grid-column-start: 7;
    grid-column-end: 12;
 }