* {
    margin:0 ;
    padding:0;
}

body {
    font-size:20px;
    line-height: 120%;
    background-color:black;
    width: 90%;
}

.page-wrapper {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin:0 auto;
    grid-gap: 10px;

    
}

h1 {
    color:white;
}

h2, h3 {
    color: rgb(24, 155, 185)
}

p{
    color:white;
}
.intro {
    grid-column-start: 1;
    grid-column-end: 3;
}

#zen-supporting {
    grid-column-start: 1;
    grid-column-end: 3;
}

h3 {
    color: white;
    background-color: rgb(32, 32, 32);
}

a {
    color: 
    text-decoration: none;

}

a:focus, a:hover {
    color: rgb(24, 155, 185);
}

#zen-supporting > p {
    background-color: rgb(8, 41, 57)
}

.sidebar {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}