* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;

}

#zen-intro {
    width: 800px;
    margin: 0 auto;
    display:grid;

}

h1, h2, h3 {
    text-align: center;
}

p{
    text-indent: 1.5em;
}
